<a href="https://colab.research.google.com/github/2004pra/data-analytics-python/blob/main/first1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

introduction to python...--> it is high level general purpose interpreted programming lamguage which was made in 1989.

fundamentals of python

(1). datatype
(2). varibale
(3). input() & print()

shift+enter for executing new command and still running the last cell

(1). variable -->this is a container in which we can store or assign values

In [ ]:
a=5
b='sum'
c= 56.89 #a,b,c are the varibales

(2). datatype
  1. -> integer --> all positive or negative values
  2. -> float--> all decimal values
  3. -> string--> 'single quotes',"double quotes",''' triple quotes'''
  4. boolean --> true,false

Type() function --> it shows me the datatype of any value  its called type function

In [ ]:
type(45)

int

In [ ]:
type('ram')

str

In [ ]:
type(45.49)

float

In [ ]:
type(5>4)

bool

In [ ]:
#input function ()----> this is a pre-defined function of python that will ask query from users and by default its output will be in string format its takes by default string

a=input("enter the frist number:")
type(a)
a

enter the frist number:45

'45'

In [ ]:
a=1
b=2
c=a+b
c

3

In [ ]:
a=input("enter the first no:")
b=input("enter the second no:")
c=a+b
c

enter the first no:5
enter the second no:6

'56'

type casting--> we can change one datatype value to another datatype

In [ ]:
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
c=a+b
c

enter the first no:5
enter the second no:6

11

In [ ]:
# operators in python-->

#1. Add(+)-->5+7=12
#2. Subtraction(-)--->7-2=5
#3. Multiplication(*)--> 5*2=10
#4. Division(/)-->5/2=2.5
#5. Floor division(/)-->5/2=2
#6. Module(%)-->for reminder calculation-->25%10-->5(reminder)
#7. Equal to(=)-->for value assignment --> a=5
#8. Equal Equal t0()-->for value comparision
#9. Not Equal to(!=)--->4!=5
#10. Greator than(>)-->5>4
#11. Less than(<)-->4<5
#12. Grator than or Equal to(>=)--->5>=5
#13. less than or Equal to(<=)--->4<=5

conditional statement
1. if
2. elif
3. else

In [ ]:
a=input("enter the name :")
if(a=='sam'):
  print('yes')
elif(a=='mohit'):
  print('no')
elif(a=='raj'):
  print("ok")
else:
  print('try again')

enter the name :karan
try again

In [ ]:
a=int(input("enter your age:"))
if(0<=a<=20):
  print("child")
elif(25<=a<=50):
  print("young")
elif(51<=a<=80):
  print("old")
else:
    print("enter a valid age ")

enter your age81
enter avalid age

In [ ]:
#question 1
a=int(input("enter your age:"))
if(a<18):
  print("your are not eligble to vote")
elif(a>=18):
  print("you are eligble to vote")
else:
  print("try again to check")

enter your age:19
you are eligble to vote

In [ ]:


#question 2()
a=int(input("enter the total purchase amount:"))
s=(a*10)/100
if(a>100):
  print("your applicable discount",s)
  print("your final purchase amount is",a-s)
elif(a<=100):
  print("you are not eligible for discount")

enter the total purchase amount:110
your applicable discount 11.0
your final purchase amount is 99.0

In [ ]:
#question 3
a=int(input("enter the age:"))
if(a<12):
  print("children: 7 dollar" )
elif(12<=a<=60):
  print("adult : 10 dollar")
elif(a>60):
  print("senior: 8 dollar")

enter the age:50
adult : 10 dollar

In [ ]:
#question 4
a=int(input("enter your salary:"))
b=int(input("enter your credits:"))
if(a>=50000 and b>=650):
  print("you are eligible for loan")
else:
  print("you are not eligible")

enter your salary:50000
enter your credits:650
you are eligible for loan

In [ ]:
#question 5
a=int(input("enter the days you are able to come:"))
if(25<=a<=30):
  print("suggested plan -->  gold : $100/month unlimited access")
elif(15<=a<=20):
  print("suggested plan --> silver: $70/month for access 5 times a week")
elif(1<=a<=10):
  print("suggested plan --> bronze: $50/month for access 3 times a week")

enter the days you are able to come:25
suggested plan -->  gold : $100/month unlimited access

In [ ]:
#question 6
a=int(input("enter the order amount :"))
b=int(input("enter the location -- options are : 1 inside city 2.outside  city :"))
c=51
if(a>=50 and b==1):
  print("no extra charges applied --- total amount is :",a)
elif(a<50 and b==2):
  print("delivery charges included -- total amount",a+c)
elif(a<50 and b==1):
  print("delivery charges included -- total amount",a)
else:
  print("delivery charges included -- total amount",a+c)

enter the order amount :30
enter the location -- options are : 1 inside city 2.outside  city :1
delivery charges included -- total amount 30

In [ ]:
#question 7
a=int(input("how many hours you want to park:"))
b=int(input("additional hours you have parked:"))
c=a+(b*3)
d=5
if(a>2):
  print("your parking fee is :",c)
else:
  print("your parking fee is ",d)

how many hours you want to park2
additional hours you have parked0
your parking fee is  5

In [ ]:
#question 8
a=int(input("enter the units"))
b=a*0.10
c=a*0.15
d=a*0.20
if(1<=a<=100):
  print("the total amount to be paid is :",b)
elif(100<=a<=200):
  print("the total amount paid to be :",c)
elif(a>200):
  print("the total amount paid to be :",d)

enter the units300
the total amount paid to be : 60.0

for loop
for i in range(1,7,2)

In [ ]:
# method 2
a='sam'
for i in a:
  print(i, end=" ")

s a m

In [ ]:
#while loop
# 1. intialization
# 2. condition
# 3. increment/decrement
# q-1. write a program to print from 1 to 3 using while loop
i=1   #initailaization
n=3
while(i<=n):           #condition
   print(i)
   i=i+1               #increment

1
2
3

In [ ]:
#printing
i=1
n=3
sum=0
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

6

In [ ]:
#user defined program
i=int(input("enter the first numbe :"))
n=int(input("enter the last number :"))
sum=0
while(i<=n):
  sum=sum+i
  i=i+1
print("total sum = ",sum)

enter the first numbe :1
enter the last number :2
total sum =  3

*#function in python*

In [ ]:
# 1.manually created function--->
# a. def
# b. name of function
#c. logics of function
#d. call the functions
# 2. predefined function-->print(), input(),min(),max()....

#create a funtion who add 2 numbers
def myadd():
  a=4
  b=5
  c=a+b
  print("add =", c)
myadd()

add = 9

#arguments and parameters
parameters --> these are the values which we passes when we create function

arguments --> these are the values which we passes when we call the function

In [ ]:
def my_add(a,b):
  c=a+b
  print("add=",c)
my_add(4,5)             #here (4,5)arguments   ,here(a,b)parameters

add= 9

In [ ]:
# Q.2 create a function who can check given number is even or odd

def oddeve():
  i=34
  if(i%2==0):
    print(i,"is even number")
  else:
    print(i," is odd number")
oddeve()

34 is even number

In [ ]:
def oddeve(a):
  if(a%2==0):
    print(a,"is even no.")
  else:
    print(a,"is odd no.")
p=int(input("enter the number"))
oddeve(p)

enter the number34
34 is even no.

#advance functions
 1. lambda function
 2. filter function
 3. map functions

In [ ]:
# lambda functions it can take any number of arguments but have only one expression
x= lambda a: a+5
print("total value=",x(2))

total value= 7

In [ ]:
x= lambda a,b: a*b
print("total value=",x(2,5))

total value= 10

In [ ]:
x= lambda a,b,c: a+b-c
print("total value=",x(2,3,4))

total value= 1

In [ ]:
#filter function filtering a sub container using filter function
# konsa logic
# kaha lagan chahte ho
ages = [5,12,17,18,34,67,50]
def myfunc(x):
  if(x>=18):
    return True
  else:
    return False
kid=list(filter(myfunc,ages))
print(kid)

[18, 34, 67, 50]

In [ ]:
# map function -->
a=["3","45","98"]
# method -1
for i in range(len(a)):
    a[i]=int(a[i])
print(a)
a[2]=a[2]+1
print(a[2])

[3, 45, 98]
99

In [ ]:
#method 2
a=["3","45","98"]
b=list(map(int,a))
print(a)
b[2]=b[2]+1
print(b[2])

['3', '45', '98']
99

In [ ]:
#home work

#1 write a lambda function to find the maximum of 2 numbers provided  by the user?
#2 use a lambda function to check if a string entered by the user is a palindrom or not
#3 create a lambda function to calculate the area of a circle given the radius
#4 write a lamda function to check if a number entered by the user is even or odd?
#5 use a lambda function to create to calculate the square of a number ?
#6 write a program to filter out positive numbers from a series of numbers provided one by one the user using filter function ?
#7 use the filter function to filter out or uppercase letter from a string that entered by the user ?
#8 use the map function  we have to write a program to convert a set if user provided temperatures from fahrenheit to celcius ?
#9 use the map(), we have to compute the sum of digits of the multiple numbers enterred by the user?
#10 using the map(), write a program that converts a series of user provided distances in kilometers to miles

In [ ]:
# question 1
x=lambda a,b: a if(a>b) else b
a=int(input("enter the first no ."))
b=int(input("enter the second no ."))
print("maximum no.=",x(a,b))

enter the first no .2
enter the second no .5
maximum no.= 5

In [ ]:
# question 2
a = lambda s: s == s[::-1]
s = input("Enter a string:")
print("Is palindrome:", a(s))

Enter a string:prashant
Is palindrome: False

In [ ]:
#question 3
a=lambda r: r*r
r=int(input("enter a radius:"))
print("area of circle is :",a(r))

enter a radius10
area of circle is : 100

In [ ]:
#question 4
x= lambda a: "even" if(a%2==0) else "odd"
a=int(input("enter the number"))
print("the number is ",x(a))

enter the number10
the number is  even

In [ ]:
#question 5
a=lambda n: n*n
n=int(input("enter a radius:"))
print("square is :",a(n))

enter a radius:5
square is : 25

In [ ]:
#question 6
a = []
size = int(input("Enter size:"))
for i in range(size):
  val = int(input("Enter number:"))
  a.append(val)
print(a)

def pos(x):
  if x>0:
    return True
  else :
    return False

b = list(filter(pos , a))
b

Enter size:5
Enter number:-5
Enter number:-10
Enter number:56
Enter number:58
Enter number:-12
[-5, -10, 56, 58, -12]

[56, 58]